<div class="row">
  <div class="large-12 columns">
    <hr>
    <div class="nav-bar right">
      <ul class="button-group">
        {{#link-to "home" class="button"}}Home{{/link-to}}
        {{#link-to "posts" class="button"}}Posts{{/link-to}}
        {{#link-to "recipes" class="button"}}Recipes{{/link-to}}
        {{#link-to "reviews" class="button"}}Reviews{{/link-to}}
      </ul>
    </div>

    <h1 id="title">Foodie blogging platform</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-5 columns">
      <div class="panel radius callout">
        <h5>Activity</h5>
      </div>
      {{#each activity_item in model}}
        <p class="panel">
          User <b>{{activity_item.user_id}}</b> {{activity_item.action_type}}d
          {{activity_item.resource_type}}

          {{#link-to "posts.show" activity_item.resource_id}}
            {{activity_item.resource_title}}
          {{/link-to}}

          {{format-date activity_item.updated_at}}
        </p>
      {{/each}}
    </div>
    <div class="large-7 columns">
      {{outlet}}
    </div>
  </div>
</div>

