<h1 id="title">Foodie blogging platform</h1>

{{#link-to "home"}}Home{{/link-to}}
{{#link-to "posts"}}Posts{{/link-to}}
{{#link-to "recipes"}}Recipes{{/link-to}}
{{#link-to "reviews"}}Reviews{{/link-to}}

<ul>
  {{#each activity_item in model}}
    <li>
      <p>
        User {{activity_item.userId}} {{activity_item.actionType}}d
        {{activity_item.resourceType}}: "{{activity_item.resourceTitle}}"
        {{format-date activity_item.updatedAt}}
      </p>
    </li>
  {{/each}}
</ul>

<hr>

{{outlet}}
