<div class="row">
  <div class="large-12 columns">
    <hr>
    <div class="nav-bar right">
      <ul class="button-group">
        {{#link-to "home" class="button"}}Home{{/link-to}}
        {{#link-to "posts" class="button"}}Posts{{/link-to}}
        {{#link-to "recipes" class="button"}}Recipes{{/link-to}}
        {{#link-to "reviews" class="button"}}Reviews{{/link-to}}
      </ul>
    </div>

    <h1 id="title">Foodie blogging platform</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="large-5 columns">
      <h3>Activity</h3>
      <ul>
        {{#each activity_item in model}}
          <li>
            <p>
              User {{activity_item.userId}} {{activity_item.actionType}}d
              {{activity_item.resourceType}}: "{{activity_item.resourceTitle}}"
              {{format-date activity_item.updatedAt}}
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="large-7 columns">
      {{outlet}}
    </div>
  </div>
</div>

